body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

* {
	text-decoration: none;  
	list-style-type:none;
	color: black; 
	font-family: 'Quicksand', sans-serif;
}

nav{
	border-bottom: 1px solid #ccc;
	padding: 0;
}

ul{
	width: 100%;
	display: inline-flex;
	flex-direction: row;
	list-style-type: none;
	padding: 0;
}

li{
	height: 3rem;
	line-height: 3rem;
	text-align: center;
	flex-grow: 1;
}

nav ul li a{
	transition: 0.2s ease-in;
}

nav ul li a:hover{
	color: #ccc;  
}	 

.logo {
	font-size: 3rem;
}

.gallery img {
	display:block;
	width:100%;
	margin-bottom:1.25rem;
}

.contactform {
	width: 80%;
	height: 80vh;
	margin: 0 10%;
}

@media (max-width:48rem) {

	.logo{
		font-size: 1rem;
	}

}

	