html, body, #desktopStage {
    height: 100%;
    width: 100%;
}

html, body, p {
	margin: 0;
	padding: 0;
}

#desktopStage {
	position: absolute;
}

#contactForm, input[type=text], textarea, input[type=submit], input[type=reset] {
	font-family: 'Work Sans', sans-serif;
	font-weight: 100;
}

#contactForm {
	position: relative;
	font-size: 3.5vw;
	margin: 5vw auto;
	display: block;
	width: 70%;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], textarea {
	font-size: 1.75vw; 
	width: 100%; /* Full width */
	padding: 1.5vw; /* Some padding */  
	border: 1px solid #ccc; /* Gray border */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 1vw; /* Add a top margin */
	margin-bottom: 2vw; /* Bottom margin */
	resize: none;
}

input[type=submit], input[type=reset] {
	border: 1px solid #ccc; /* Gray border */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	font-size: 2vw;
	padding: 1vw 2vw;
}

@media only screen and (min-width: 769px){
	#desktopStage, input[type=submit], input[type=reset] {
		background-color: white;
	}
}

@media only screen and (max-width: 768px){
	#desktopStage, #contactForm, input[type=submit], input[type=reset] {
		background-color: black;
		color: white;
	}
}