body, html {
    height: 100%;
    width: 100%;
    margin: 0;
	padding: 0;
}

#mobileStage {
	display: none;
}

h1, p {
	margin: 0;
	padding: 0;
}

#desktopStage {
	height: 100%;
	width: 100%;
	background-color: white;
	position: absolute;
}

#contactForm {
	position: relative;
	font-family: 'Work Sans', sans-serif;
	font-weight: 100;
	font-size: 2em;
	margin: 2em auto;
	display: block;
	width: 70%;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], textarea {
	font-size: .5em; 
	width: 100%; /* Full width */
	padding: 0.9em; /* Some padding */  
	border: 1px solid #ccc; /* Gray border */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
}

input[type=submit], input[type=reset] {
	background-color: white;
	font-family: 'Work Sans', sans-serif;
	font-weight: 100;
	border: 1px solid #ccc; /* Gray border */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	font-size: .6em;
	padding: 10px 20px 10px 20px;
}