html, body, #desktopStage {
    height: 100%;
    width: 100%;
}

html, body, p {
	margin: 0;
	padding: 0;
}

#desktopStage {
	position: absolute;
	overflow: scroll;
}

.pictureContainer {
	margin: 3vw 2vw;
	display: inline-block;
}

.pictureContainer img {
	width: 100%;
	height: 100%;
}

@media only screen and (min-width: 769px){
	#desktopStage {
		background-color: white;
	}
	#headerContainer {
		width: 100%;
		height: 15vw;
		position: relative;
		background-image: url(/backgrounds/filmPageHead.png);
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-position: center;
		line-height: 15vw;
		vertical-align: middle;
		text-align: center;
		color: white;
		font-family: "Work Sans", sans-serif;
		font-weight: 100;
		font-size: 5vw;
	}

	#contentContainer {
		width: 82%;
		height: 60%;
		position: relative;
		margin: 0 auto;
	}
	
	.pictureContainer {
		width: 12vw;
		height: 12vw;
	}
	.pictureContainer img {
		border-radius: 50%;	
	}
}

@media only screen and (max-width: 768px){
	#desktopStage {
		background-color: black;
	}
	
	#headerContainer {
		display: none;
	}
	
	#contentContainer {
		width: 80%;
		height: auto;
		margin: 10vw auto;
	}
	
	.pictureContainer {
		width: 20vw;
		height: 20vw;
	}
}