body, html {
    height: 100%;
    width: 100%;
}

body, html, p {
	margin: 0;
	padding: 0;
}

model-viewer {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: 769px){
	#mobileStage {
		display: none;
	}

	#desktopStage {
		height: 100%;
		width: 100%;
		float: right;
		position: relative;
	}
}

@media only screen and (max-width: 768px){
	#desktopStage {
		display: none;
	}

	#mobileStage {
		height: 100%;
		width: 100%;
		background-color: black;
	}

}
