html, body {
    height: 100%;
    width: 100%;
}

#desktopStage {
	width: 100%;
	position: absolute;
	overflow: scroll;
}

html, body, p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.contentBlock {
	background-color: black;
	color: white;
	font-family: "Work Sans", sans-serif;
	font-weight: 100;
	text-align: center;
	vertical-align: middle;
	background-position: center;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

#webDevBlock {
	background-image: url(/backgrounds/webDevBlockBG.jpg);
}

#musicBlock {
	background-image: url(/backgrounds/musicBlockBG.jpg);
}

#filmBlock {
	background-image: url(/backgrounds/filmBlockBG.jpg);
}

#blogBlock {
	background-image: url(/backgrounds/blogBlockBG.jpg);
}

@media only screen and (min-width: 769px){
	#desktopStage {
		height: 100%;
		background-color: white;
	}
	
	#contentContainer {
		width: 80%;
		min-width: 20%;
		position: relative;
		top: 20%;
		margin: 0 auto;
	}
	
	.contentBlock {
		height: 15vw;
		width: 47%;
		font-size: 4.5vw;
		line-height: 15vw;
		margin: 1vw 1vw;
		display: inline-block;
	}
}

@media only screen and (max-width: 768px){
	#desktopStage {
		height: 100%;
		background-color: black;
	}
	
	#contentContainer {
		height: 100%;
		width: 100%;
		min-width: 20%;
		position: relative;
		margin: 0 auto;
	}
	
	.contentBlock {
		height: 25%;
		width: 100%;
		font-size: 10vw;
		line-height: 35vw;
		display: inline-block;
	}
}