html, body {
    height: 100%;
    width: 100%;
}

#desktopStage {
	width: 100%;
	height: auto;
}

html, body, p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

@media only screen and (min-width: 769px){
	#desktopStage {
		background-color: white;
		position: absolute;
	}
	
	#contentContainer {
		width: 80%;
		min-width: 20%;
		position: relative;
		margin: 0 auto;
	}
	
	.contentBlock {
		height: 3em;
		width: 50%;
		min-width: 20%;
		background-color: black;
		color: white;
		font-family: "Work Sans", sans-serif;
		font-weight: 100;
		font-size: 2em;
		text-align: center;
		line-height: 3em;
		vertical-align: middle;
		margin: 1.5em auto;
		border: 1px solid #ccc;
		background-position: center;
		background-size: 100% auto;
		background-repeat: no-repeat;
	}

	#webDevBlock {
		background-image: url(/backgrounds/webDevBlockBG.jpg);
	}

	#musicBlock {
		background-image: url(/backgrounds/musicBlockBG.jpg);
	}

	#filmBlock {
		background-image: url(/backgrounds/filmBlockBG.jpg);
	}

	#blogBlock {
		background-image: url(/backgrounds/blogBlockBG.jpg);
	}
}

@media only screen and (max-width: 768px){
	#desktopStage {
		background-color: black;
		position: absolute;
	}
	
	#contentContainer {
		width: 50%;
		min-width: 20%;
		position: relative;
		top: 10%;
		margin: 0 auto;
	}

	.contentBlock {
		height: 15vw;
		width: 100%;
		background-color: black;
		color: white;
		font-family: "Work Sans", sans-serif;
		font-weight: 100;
		font-size: 4.5vw;
		text-align: center;
		line-height: 10vw;
		vertical-align: middle;
		margin: 7vw auto;
		background-position: center;
		background-size: 100% auto;
		background-repeat: no-repeat;
	}

	#webDevBlock {
		background-image: url(/backgrounds/webDevBlockBG.jpg);
	}

	#musicBlock {
		background-image: url(/backgrounds/musicBlockBG.jpg);
	}

	#filmBlock {
		background-image: url(/backgrounds/filmBlockBG.jpg);
	}

	#blogBlock {
		background-image: url(/backgrounds/blogBlockBG.jpg);
	}
}