.pageFont {
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
	text-align: left;
}

.headings {
  font-size: 3vw;
}

.headings2 {
  font-weight: 300;
  font-size: 2.3vw;
}

.paragraph {
	font-weight: 300;
	font-size: 2vw;
}

@media only screen and (min-width: 769px){
	html, body {
		margin: 2vw;
	}

  .pageFont{
    color: #17252A;
  }

}

@media only screen and (max-width: 768px){
	html, body {
		margin: 7vw 2vw 2vw 2vw;
		background-color: black;
	}

  .pageFont{
    color: white;
  }

	.container-fluid{
		background-color: black;
	}
}
