body, html {
    height: 100%;
    width: 100%;
    margin: 0;
	padding: 0;
}

#mobileStage {
	display: none;
}

h1, p {
	margin: 0;
	padding: 0;
}

#desktopStage {
	height: 100%;
	width: 100%;
	background-color: white;
	position: absolute;
}