body, html {
    height: 100%;
    width: 100%;
    margin: 0;
	padding: 0;
}

/*Layout for mobile*/
@media only screen and (max-width: 1080px){
	p {
		margin: 0;
		padding: 0;
	}
	
	.mobStage {
		background-color: black;
		height: 100%;
		width: 100%;
		overflow: hidden;
	}
	
	#pageGreeting {
		color: white;
		font-family: 'Work Sans', sans-serif;
		font-size: 2.5em;
		font-weight: 100;
		position: absolute;
		font-style: italic;
	}
	
	#pageGreeting span {
		font-weight: 600;
	}
	
	#homeButton {
		background-color: white;
		font-family: 'Work Sans', sans-serif;
		position: absolute;
		font-style: italic;
		font-weight: 100;
		right: 0;
		bottom: 0;
		text-align: center;
		display: block;
		text-decoration: none;
		font-size: 1.5em;
	}
	
	#homeButton a{
		color: white;
		text-decoration: none;
	}
}